@model List<webEcom.Models.ProductDATA>
<link href="~/css/myCsstrue.css" rel="stylesheet" />


@{
    ViewData["Title"] = "ProductSendNumber";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    body {
        font-family: 'Cloud Soft';
        background-color: #F05A7E;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 10;
    }

    .ft4 {
        background-color: #fcf7fa;
        padding: 50px 2vw 30px 2vw;
        margin-top: -20px;
        min-height: 120vh;
        margin-block-end: -20px;
    }

</style>


@{
    ViewData["Title"] = "Product Send Number";
}



<div class="ft4">
    <h1>ใส่เลขพัสดุ</h1>
    <br />
    <hr />
    <br />

    <form asp-action="UpdateProductSendNumber" method="post">
        <div class="border border-dark border-3 rounded-3" style="background-color:lightgray">
            <div class="table-responsive">
                <table class="table" style="font-family:'Cloud Soft light';">
                    <thead style="background-color:#0BB494">
                        <tr>
                            <th>รูปภาพสินค้า</th>
                            <th>ชื่อสินค้า</th>
                            <th>จำนวน</th>
                            <th>ราคาสินค้า</th>
                            <th>ชื่อผู้ซื้อสินค้า</th>
                            <th>Email</th>
                            <th>เบอร์โทร</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="background-color:ivory">
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>
                                    @if (product.IformfileProductInputImage != null && product.IformfileProductInputImage.Length > 0)
                                    {
                                        <img src="data:@product.ProductImageType;base64,@Convert.ToBase64String(product.IformfileProductInputImage)" class="rounded-3 img-thumbnail" alt="User Picture" style="width:100px" />
                                    }
                                </td>
                                <td>@product.ProductName</td>
                                <td>@product.ProductCount</td>
                                <td>@product.ProductPrice บาท</td>
                                <td>@product.ProductUserName</td>
                                <td>@product.ProductEmail</td>
                                <td>@product.ProductUserTel</td>
                                <td>
                                    <input type="text" name="ProductSendNumbers[@product.IdProduct]" value="@product.ProductSendNumber" class="form-control" />

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <p style="text-align:center;color:red"> <------| ตารางสามารถเลื่อนซ้ายขวาได้ |------></></p>
        <br />
        <button class="btn btn-success  w-100 shadow fw-bolder text-white text-decoration-none" type="submit">บันทึกข้อมูลเลขพัสดุ </button>

    </form>


</div>
